@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@250&display=swap');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif !important;
    width:100%;
    height:100vh;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width:100%;
    height:auto;
    position: relative;
}
.navbar .navbar-toggler .icon{
    font-size: 30px;
    font-weight:800;
    font-style: bold;
}


/* Header */
.header{
    width:100%;
    height:90vh;
    background:url("../img/bg/babcok.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin:0px;
}

.header .ovl{
    width:100%;
    height:90vh;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(18, 82, 219, 0.8);
    position: absolute;
}

.header h1{
    text-shadow: 0px 0px 3px #000;
}


.header .buttons-cont .btn{
    padding:10px 20px;
    border-radius: 300px;
    box-shadow: 0px 0px 3px #618ef0cc;
}
.header .buttons-cont .btn.book{
    border: 3px solid #5077f7;
    color:#fff;
}
.header .wave{
    width: 100%;
    height:auto;
}
.header .wave .wave-img{
    width:100%;
    height:100px;
    position: absolute;
    left:0px;
    bottom:-20px;
}


/* Section style */
.section-cont{
    width:100%;
    height:100vh;
    position:relative;
    top:20px;
}

.section-cont .features{
    position:relative;
}
.section-cont .features .head{
    font-size: 40px;
    font-weight: 200;
    color:#777;
}
.section-cont .features .f-cont{
    width: 100%;
    height:auto;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section-cont .features .f-cont .box{
    width: 250px;
    height:250px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    padding:0px;
    margin:10px auto;
    position: relative;
}

.section-cont .features .f-cont .box .body{
    position: relative;
    top:40px;
}
.section-cont .features .f-cont .box .icon{
    width:100%;
    height:120px;
    background: linear-gradient(to bottom right, #1c56b8, #1c56b8);
    font-size: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:#fff;
    position: inherit;
    overflow: hidden;
}

.section-cont .features .f-cont .box .icon::before{
    content:"";
    position: absolute;
    left:0px;
    width: calc(250px/2);
    height:100vh;
    background:#103b85 ;
}


.section-cont .features .f-cont .box .body .h{
    color:#000;
    font-weight:700 !important;
    font-style: bold !important;
}

/* showcase */
.section-cont .showcase{
    width:100%;
    height:auto;
    padding:12px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:#fff;
    position: relative;
}
.section-cont .showcase .body{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:700px){
    .section-cont .showcase .body{
        position: relative;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.section-cont .showcase .txt h1{
    color:#fff;
}

.section-cont .showcase .body .show-img{
    width: 60%;
    min-width:50%;
    max-width:100%;    
}

























